.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.bannerDiscription{
    position: relative;
    z-index: 6;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 40px;
    width: 35%;

}

.bttn{
    padding: 20px 0px;  
}
.bttn button{
    padding: 5px 15px;
    margin-right: 40px;
    font-size: 1.1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.624);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(70, 70, 70, 0.493);
}

.fadeBanner {
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    background: linear-gradient(to top, black 20px, rgba(0, 0, 0, 0) 70% );
    
}
